<p>product works!</p>

<ng-container>
    <div class="col-md-3">
        <label for="ProductName" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="exampleProductName" [(ngModel)]="product.pName" >
    
      </div>
      <br>
      <div class="col-md-3">
        <label for="exampleInputMfdDate" class="form-label">Manufactured Date</label>
        <input type="date" class="form-control" id="exampleInputMfdDate" [(ngModel)]="product.pMfdDate">
      </div>
      <br>
    <div class="col-md-3">
      <label for="exampleInputPrice" class="form-label">Price</label>
      <input type="number" class="form-control" id="exampleInputPrice" [(ngModel)]="product.pPrice">
      
    </div>
   <br>
   
    <button type="submit" class="btn btn-primary" (click)="AddProduct()">Add Product</button>
  </ng-container>
  <br>
    <!-- table starts-->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Manufactured Date</th>
             <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <th scope="row">{{p.prod_id}}</th>
            <td>{{p.pName}}</td>
            <td>{{p.pMfdDate | date}}</td>
            <td>{{p.pPrice}}</td>
            <td>
                <button class="btn btn-primary" (click)="EditProductDetails(p.prod_id)" data-bs-toggle="modal" data-bs-target="#EditModal" data-bs-whatever="@getbootstrap">Edit</button> ||
                <button class="btn btn-danger" type="submit"  data-bs-toggle="modal"  data-bs-target="#DeleteModal">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>


 <!-- Delete Modal -->
 <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product Delete Confirmation</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are sure you want to delete the Product ???
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">NO</button>
          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>


  <!-- edit modal-->


<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Update Product Details</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <form> -->
          <div class="mb-3">
            <label for="product" class="col-form-label"> Product Name:</label>
            <input type="text" class="form-control" id="Productname" [(ngModel)]="productToUpdate.pName">
          </div>
          <div class="mb-3">
            <label for="MfdDate" class="col-form-label">Manufactured date</label>
            <input type="Date" class="form-control" id="MfdDate" [(ngModel)]="productToUpdate.pMfdDate">
          </div>
          <div class="mb-3">
            <label for="Price" class="col-form-label">Price </label>
            <input type="number" class="form-control" id="Price" [(ngModel)]="productToUpdate.pPrice">
          </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="UpdateProduct()">Update</button>
      </div>
    </div>
  </div>
</div>

      

